/*

height 500 - 600 bg red
       600 - 700 bg yello

*/
/* @media (max-height: 600px) {
  body {
    background-color: red;
  }
}

@media (min-height: 600px) and (max-height: 700px) {
  body {
    background-color: yellow;
  }
} */

@media (orientation: landscape) {
  body {
    background-color: yellow;
  }
}

@media (orientation: portrait) {
  body {
    background-color: lightpink;
  }
}
