* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  width: 100%;
}
section {
  height: 100%;
  width: 100%;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/435e8bb8-7f1b-49cb-8da8-bff997124294/web/IN-en-20260511-TRIFECTA-perspective_ec39852e-0b48-4e8a-b415-dd8376cd83ce_large.jpg");
}
section div {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

h1 {
  height: 100%;
  color: white;
  text-align: center;
  align-content: center;
}
