/*

Units = used to massure objects
Universal Same

digital units

pixel - px



*/

/* block element = width full size screen, heigh  = content  */
body{
    background-color: lightblue;
    height: 100vh;
    width: 100%;
}


div{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}
