@font-face {
  font-family: "play-write";
  src: url("./playwrite.ttf") format("truetype");
}

* {
  font-family: "play-write", cursive;
}

h1 {
}
p {
  font-size: 24px;
}

.icon-1{
    color: red;
    font-size: 50px;
}